html,
body {
    height: 100%;
    margin: 0
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
    align-content: center;
}

.box .row {
    border: 1px dotted grey;
}

.box .row.header {
    flex: 0 1 auto;
}

.box .row.content {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 20px;
    font-size: 16px;
}

.box .row.footer {
    flex: 0 1 10px;
    justify-content: center;
}

#mynetwork{
    height: 300px;
}


h1 {
    color: #4a9aff;
    margin-bottom: 0;
}


textarea{
    font-family: "Helvetica", Times, serif;
    overflow-x: hidden;
    width: 100%;
    max-width: 99%;
    min-height: 300px;
    max-height: 300px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 2px 2px #ebebeb;
    border: 2px solid #cccccc;
    background-color: #fffcd0;
    overflow-y: scroll;
}
.ui-menu .ui-menu-item {
    width: 99%;
    /*
        font-family: "Helvetica", Times, serif;
        font-size: 14px;
        color: #575757;
        font-weight: bold;
        box-shadow: 0 0 10px 100px #b5ffee inset;
    */
}

#quickHelp {
    width: 99%;
    font-family: "Helvetica", Times, serif;
    font-size: 18px;
    background: #ffffff;
    /*border: 1px solid #efefef;*/
    vertical-align: top;
    text-align: left;
    min-height: 20px;
    margin-left: 10px;
}





.ui-autocomplete {
    position: static !important;
}

#footer {
    width: 100px;
    padding-top: 50px;
    margin: 0px auto;
}

#researchBox {
    border: 1px solid #ffffff;
    min-height: 10px;
    padding: 0px;
    background: white;
    vertical-align: top;
    text-align: left;
}

#wrapper {
    width: 100%;
}


#leftcolumn,#rightcolumn {
    border: 1px solid white;
    float: left;
    min-height: 300px;
    color: #525252;
}

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 11px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 39px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}