/* JUST FOR THIS DEMO */

div#entirePage{
    width: 800px;
    position: relative;
    min-width: 800px;
    max-width: 800px;
    margin: 0px auto;
    font-family: "Helvetica", Times, serif;
}


h1 {
    color: #4a9aff;
    margin-bottom: 0;
}

textarea{
    font-family: "Helvetica", Times, serif;
    display: block;
    box-sizing: padding-box;
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 10px;
    width: 800px;
    max-width: 800px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 2px 2px #ebebeb;
    border: 2px solid #cccccc;
    background-color: #fffcd0;
}

.ui-menu .ui-menu-item { /* the selector */
    font-family: "Helvetica", Times, serif;
    font-size: 14px;
    color: #575757;
    font-weight: bold;
    box-shadow: 0 0 10px 100px #b5ffee inset;

}

.ui-autocomplete {
    position: static !important;
}

#spacer #quickHelpWrapper #analyticsWrapper {
    position: relative;
}

#footer {
    width: 800px;
    padding-top: 50px;
    margin: 0px auto;
}

#quickHelp {
    border: 1px solid lightgrey;
    min-height: 20px;
    width: 800px;
    max-width: 800px;
    padding: 10px;
}


#wrapper {
    width: 800px;
}


#leftcolumn,#rightcolumn {
    border: 1px solid white;
    float: left;
    min-height: 300px;
    color: #525252;

}

#leftcolumn {
    width: 150px;
    background-color: #d8d8d8;
    padding-left: 5px;
    padding-top: 5px;
}

#rightcolumn {
    width: 635px;
    background-color: #f3f3f3;
    padding-left: 5px;
    padding-top: 5px;
}


.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 11px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 39px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}