/* JUST FOR THIS DEMO */

div#entirePage{
    width: 1024px;
    position: relative;
    margin: 0px auto;
    font-family: "Helvetica", Times, serif;
}


h1 {
    color: #4a9aff;
    margin-bottom: 0;
}

textarea{
    font-family: "Helvetica", Times, serif;
    display: block;
    box-sizing: padding-box;
    overflow-x: hidden;
    padding: 5px;
    width: 500px;
    max-width: 500px;
    min-height: 250px;
    max-height: 250px;
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 2px 2px #ebebeb;
    border: 2px solid #cccccc;
    background-color: #fffcd0;
    overflow-y: scroll;
    resize: none;
}

#knowledgeGraph {
    background: #ebebeb;
    width: 500px;
    vertical-align: top;
    text-align: left;
}

.ui-menu .ui-menu-item {
    max-width: 500px;
/*
    font-family: "Helvetica", Times, serif;
    font-size: 14px;
    color: #575757;
    font-weight: bold;
    box-shadow: 0 0 10px 100px #b5ffee inset;
*/
}


.ui-autocomplete {
    position: static !important;
}

#footer {
    width: 800px;
    padding-top: 50px;
    margin: 0px auto;
}

#quickHelp {
   /* border: 1px solid lightgrey; */
    width: 98%;
}

#researchBox {
    border: 1px solid #ffffff;
    min-height: 10px;
    padding: 0px;
    background: white;
    vertical-align: top;
    text-align: left;
}

#wrapper {
    width: 800px;
}


#leftcolumn,#rightcolumn {
    border: 1px solid white;
    float: left;
    min-height: 300px;
    color: #525252;
}

.onoffswitch {
    position: relative; width: 60px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 17px; padding: 0; line-height: 17px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 11px; margin: 3px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 39px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}